body {
  text-align: center;
  font-family: 'Crimson Text'
}

p {
  color: #999494;
  font-weight: lighter;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

/* Title Section */
#title {
  background-color: #e0ebe8;
}

.navbar {
  padding: 30px 50px;
}

.josh-cartoon {
  border-radius: 100%;
}

.title-h1 {
  color: #45b29a;
  font-size: 6rem;
  font-family: 'Parisienne';
}

.title-h2 {
  color: #45b29a;
  font-size: 1.7rem;
  padding-bottom: 40px;
}

.title-mountain-img {
  width: 60%;
  background-color: #e0ebe8;
  border-radius: 5%;
}

/* Intro Section */
#intro {
  padding: 10% 30%;
}

.jc2 {
  float: left;
  margin-right: 20px;
}

.intro-h2 {
  color: #45b29a;
  font-size: 2rem;
  text-align: left;
}

@media (max-width: 621px) {
.intro-h2 {
  text-align: center;
  margin-top: 20px;
}
.jc2 {
float: none;
margin-right: 0;
}
}

.intro-p {
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: left;
}

/* what-i-can-do Section */
#what-i-can-do {
  padding: 10% 5%;
}

@media (max-width: 575px) {
  #what-i-can-do {
    padding: 10% 18%;
  }
}

.what-i-can-do-h1 {
  color: #318f7a;
  font-size: 3rem;
  padding-bottom: 50px;
}

.what-i-can-do-h2 {
padding: 5% 0 0;
}

.what-i-can-do-p {
  font-size: 1.1rem;
  text-align: justify;
}

.what-i-can-do-img {
  width: 30%;
  padding-top: 3%;
}

.what-i-can-do-h2 {
  color: #45b29a;
}

/* Contact-Me Section */
#contact-me {
  padding: 10% 5%;
}

.contact-h1 {
  color: #318f7a;
  font-size: 3rem;
}

.contact-h2 {
  color: #45b29a;
  font-size: 1.7rem;
  padding: 40px 0;
}

.contact-p {
  font-size: 1.1rem;
}

.btn {
  background-color: #45b29a;
  margin-top: 40px;
}

.btn:hover {
  background-color: #318f7a;
}

/* Footer Section  */
#footer {
  padding: 10% 5%;
  background-color: #c5ded7;
  color: #45b29a;
}

.td-img {
  width: 3%;
  padding-bottom: 5px;
}

.footer-icons {
  padding-left: 5px;
  padding-right: 5px;
}

.footer-h6 {
  padding: 30px;
}
